/* RESET  */
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

/* REGOLE GENERALI  */
body {

}

.container {
      width: 100%; 
      margin: 0 auto;
}

.container2 {
      max-width: 1100px;
      margin: 0 auto;
}

.container {
      max-width: 1000px;
      margin: 0 auto;
}

/* HEADER  */
nav {
      display: flex;
      justify-content: space-between;
      height: 60px;
}

.nav-left, .nav-right {
      width: 30%;
}

/* MAIN  */
.jumbotron {
      width: 100%;
      height: 600px;
}

/* .header-bottom {
      height: 110%;
} */

h1 {
      padding-top: 60px;
}

.header-content {
      display: flex;
}

.header-content img {
      width: 700px;
      height: 550px;
      background-color: green;
}
/* FOOTER  */


/* DEBUG  */
.border {
      border: 2px dashed black;
}

.aqua {
      background-color: aquamarine;
}

.yellow {
      background-color: yellow;
}

.red {
      background-color: red;
}

.blue {
      background-color: blue;
}

.orange {
      background-color: orange;
}
.green {
      background-color: green;
}