/* RESET  */
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

/* REGOLE GENERALI  */
body {
      font-family: 'Noto Sans', sans-serif;
}

.container1 {
      max-width: 1000px;
      margin: 0 auto;
}

.container2 {
      max-width: 850px;
      margin: 0 auto;
}

.blue-button {
      font-size: 14px;
      color: white;
      background-color: #0061ff;
      border: none;
}

.white-button {
      font-size: 14px;
      color: black;
      background-color: white;
      border: none;
}

ul {
      list-style: none;
}

/* HEADER  */
 /* nav  */
nav {
      display: flex;
      justify-content: space-between;
      background-color: white;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 60px;
      z-index: 10;
}

.nav-left, .nav-right {
      display: flex;
      align-items: center;
}

.nav-left button {
      padding: 15px;
      background-color: white;
      border: none;
      display: flex;
      align-items: center;
}

.nav-right button {
      margin-right: 15px;
      padding: 5px 12px;
}

.nav-left ul, .nav-right ul {
      display: flex;
      list-style: none;
}

.nav-left ul li a, .nav-right ul li a {
      text-decoration: none;
      color: black;
      padding: 20px 15px;
      font-size: 14px;
}

 /* jumbotron  */
.jumbotron {
      width: 100%;
      margin-top: 60px;
      height: 550px;
      background-color: #b4d0e7;
}

h1 {
      padding-top: 50px;
      padding-bottom: 35px;
      font-size: 60px;
      font-family: 'Kanit', sans-serif;
      font-weight: 900;
      line-height: 1.3;
}

.header-bottom {
      display: flex;
}

.header-content {
      width: 35%;
      font-size: 14px;
}

.header-content button {
      padding: 10px 12px;
      margin: 25px 0;
}

.header-content a i {
      position: relative;
      top: 45px;
      color: black;
}

.header-bottom img {
      width: 65%;
}

/* MAIN  */
main {
      margin-top: 100px;
}

/* price list */
.main-price-list {
      font-size: 13px;
}

.main-price-list h2 {
      font-size: 30px;
      padding: 10px 0;
}

.billing {
      margin: 30px 0;
}

.billing span {
      margin-right: 30px;
}

.fa-regular.fa-circle {
      color: #d2d2d5;
}

.price-card-top {
      display: flex;
      justify-content: space-between;
}

.price-card {
      width: 30%;
}

.price-card-bottom {
      width: 100%;
      margin-top: 40px;
}

.price-card, .price-card-bottom {
      border: 1px solid #dadadd;
}

.container-card {
      margin: 30px;
}

.user-price-card {
      text-align: center;
      padding: 7px;
      border-bottom: 1px solid #dadadd;
}

.container-card h3 {
      font-size: 20px;
      padding-bottom: 10px;
}

.container-card .price {
      font-weight: bold;
      padding: 5px 0;
}

.container-card .period {
      color: #dadadd;
      padding-top: 5px;
}

.container-card ul {
      margin: 20px 0;
}

.container-card ul li {
      display: flex;
      padding: 5px 0;
}

.container-card ul li i {
      padding: 3px 5px 0 0;
}

.price-card button {
      padding: 10px 12px;
      width: 100%;
}

.buy-now {
      padding: 30px 0;
}

.buy-now a {
      color: #0061ff;
}

.container-card hr {
      width: 50px;
      border: 1px solid #dadadd;
      margin-bottom: 20px;
      background-color: #dadadd;
}

.checked-list li::before {
      content: "\2714";
      color: #0261ff;
      padding: 5px;
}

.price-card-bottom .container-card {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
}

.price-card-bottom .container-card button {
      padding: 10px 30px;
}

.enterprise {
      width: 60%;
}

.enterprise div {
      padding-top: 40px;
}

/* partner */
.main-partner {
      margin-top: 120px;
      margin-bottom: 120px;
      display: flex;
      font-size: 14px;
}

.main-partner img {
      width: 60%;
}

.partner-content {
      width: 40%;
      padding: 40px;
}

.partner-content h3 {
      font-size: 20px;
}

.partner-content p {
      margin: 15px 0 30px;
}

.partner-content button {
      padding: 10px 12px;
      border: 1px solid black;
}

/* function */
.main-function h2 {
      font-size: 30px;
      padding: 15px 0;
}

.function-row {
      display: flex;
      justify-content: space-between;
      width: 100%;
}

.function-box {
      width: 32%;
      margin: 30px 0;
}

.function-box img {
      width: 100%;
}

.function-box h3 {
      font-size: 20px;
      padding: 10px 0;
}

.function-box p {
      font-size: 14px;
      padding: 10px 0;
}

/* customers */
.main-customers {
      font-size: 14px;
}

.customers-top {
      margin: 100px auto;
}

.customers-top h2 {
      font-size: 30px;
      padding-bottom: 35px;
}

.customers-top a {
      color: #0061ff;
}

.customers-middle {
      display: flex;
}

.cust-big-box {
      width: calc(100%/3);
      height: calc(100vw/3);
      display: flex;
      flex-wrap: wrap;
}

.cust-box {
      width: 50%;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
}

.cust-box img {
      width: 50%;
      filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(134deg) brightness(115%) contrast(101%);
}

.mid-big-box {
      width: calc(100%/3);
      height: calc(100vw/3);
      background-color: #f5f5f5;
      padding: 30px;
      overflow: auto;
}

.mid-big-box img {
      width: 50%;
      margin-bottom: 30px;
}

.mid-big-box hr {
      margin-bottom: 30px;
      width: 20%;
}

.mid-big-box p {
      padding-bottom: 40px;
}

.cust-box1{
      background-color: #a2d39b;
      border: 10px solid #d1e9cd;
}

.cust-box2 {
      background-color: #61082b;
}

.cust-box3 {
      background-color: #0093ce;
}

.cust-box4 {
      background-color: #ff1c1c;
}

.cust-box5 {
      background-color: #d5001f;
}

.cust-box6 {
      background-color: #b4d0e7;
}

.cust-box7 {
      background-color: #0d2481;
}

.cust-box8 {
      background-color: #ffd830;
}

.customers-bottom {
      padding: 100px;
      background-color: #b4d0e7;
}

.cust-bottom-cont {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
}

.cust-bottom-cont h2 {
      font-size: 30px;
      color: #690529;
}

.cust-bottom-cont button {
      padding: 10px 40px;
}

/* faq */
.main-faq {
      height: 700px;
}

/* FOOTER  */
footer {
      color: white;
      background: black;
}

.footer-top {
      display: flex;
      justify-content: space-between;
}

.footer-link {
      padding: 80px 0;
}

.footer-link h5 {
      font-size: 18px;
      padding-bottom: 10px;
}

.footer-link ul {
      list-style: none;
}

.footer-link ul li {
      padding: 4px 0;
}

.footer-link ul li a {
      color: white;
      text-decoration: none;
      font-size: 13px;
}

.language {
      padding: 40px 0;
      border-top: 1px solid white;
}

.language a {
      color: white;
      text-decoration: none;
      padding-top: 35px;
}

/* DEBUG  */
.border {
      border: 2px dashed black;
}

.aqua {
      background-color: aquamarine;
}

.yellow {
      background-color: yellow;
}

.red {
      background-color: red;
}

.blue {
      background-color: blue;
}

.orange {
      background-color: orange;
}
.green {
      background-color: green;
}